@media (max-width: 800px){
   
   .list ul li{
        font-size: 12px;
       
   }
   .banner{
    height: 10%;
    margin: 0px auto;
    padding: auto;
   }
   
   .banner h1{
    font-size: 22px;
   }

   #header .button{
    display: block;
    float: right;
   }

}